*__pycache__*
venv
venv/*
.idea
.csv
.tml
/venv_2/
**/.DS_Store
/time_detector_test.py
/eval.json
/evaluation_grammar/
run_assistant.py
pythontest.php
alternative_implementations/*
evaluation_grammar/*
*.save
